.navbar {
  width: 100%;
  height: 70px;
  background-color: #000026;
}
.brand {
  height: 55px;
}
.navbar-nav > li{
  padding-left:40px;
  padding-right:40px;
}

.carousel-indicators {
  margin: 0 auto;
}
.carousel-indicators > li {
  bottom: -1.5%;
  height: 10px;
  max-width: 10px;
  border-radius: 0%;
}
.img-carousel {
  padding-top: 4%;
  width: 100%;
  margin: 0 auto;
}

.bg {
  background: url("https://c1.staticflickr.com/1/740/32627989813_b242f8905b_b.jpg") no-repeat center center fixed;
  background-size: 100% auto;
    position: absolute;
}
.home-content {
  margin: 0 auto;
  text-align: center;
  width: 90%; 
  height: auto;
  padding-bottom: 5%;
  background-color: rgba(205, 205, 205, .7);
}
.top {
  position: relative;
  margin: 0 auto;
  width: 80%;
  height: 40%;
  padding-top: 6%;
}
.img-shuck {
  width: 100%;
  height: 50%;
  margin: 0 auto;
}
.img-mdc {
  width: 50%;
  margin-top: 1%;
  margin-bottom: 3%;
  border-radius: 25px;
  box-shadow: 0px 0px 13px #000;
}
.bottom {
  position: relative;
  width: 90%;
  height: 70%;
  margin: 0 auto;
  margin-top: 3%;
}
p {
  margin: 7% 5% 5% 5%;
  font-family: 'Varela Round', sans-serif;
  font-size: 26px;
  text-align: center;
  color: #000026;
}
.map {
  position: relative;
  width: 60%;
  height: 500px;
  margin: 0 auto;
  border-style: solid;
  border-width: 5px;
  border-color: #000026;
}
.img-purpose {
  margin-top: 5%;
  width: 100%;
}
/*Footer*/
.my-footer {
  width: 100%;
  height: 100px;
}
/*
.content {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}*/
/*
.home {
  width: 100%;
  height: auto;
  background: url("http://www.animalpictures1.com/data/media/93/Oyster-13.jpg") center center fixed;
  background-size: cover;
  position: absolute;
}
*/
/*h1 {
  position: relative;
  padding-top: 10px;
  margin-top: 0%;
  margin-left: 3%;
  color: rgb(105, 105, 135);
  font-size: 100px;
  font-family: 'Varela Round', sans-serif;
  text-shadow: 5px 5px 5px #000026;
}*/


/*
.quote {
  margin-top: 4%;
  height: 200px;
  font-family: 'Varela Round', sans-serif;
  text-align: center;
  font-style: italic;
  font-weight: 600;
  font-size: 20px;
  color: #323251;
}*/
/*
.img-aboutus {
  width: 100%;
  border-radius: 25px;
  border-style: solid;
  border-width: 5px;
  border-color: #000026;
} */

/*.map-content {
  margin: 0 auto;
  width: 100%;
  height: 650px; 
  background-color: rgba(205, 205, 205, .8);
} */


/*
.img-shuck {
  height: 10%;
  width: 70%;
  margin-top: 7%;
  margin-bottom: 10%;
}*/